---
title: Daniel Levenson | Web Engineer
---

<div id='main'>
  <h1>Daniel Levenson</h1>
  <hr>
  <%= image_tag 'dan_with_bike_cropped.png', alt: "headshot" %>
  <h2>I'm an engineer with a passion for people.</h2>

  <div class='social-media-links'>
    <%= link_to 'https://www.facebook.com/daniel.levenson1' do
      image_tag 'icons/facebook.png', alt: 'facebook icon'
    end %>

    <%= link_to 'https://github.com/dleve123' do
      image_tag 'icons/github.png', alt: 'github icon'
    end %>

    <%= link_to 'http://www.linkedin.com/pub/daniel-levenson/60/5a3/9a9' do
      image_tag 'icons/linkedin.png', alt: 'linkedin icon'
    end %>

    <%= link_to 'https://twitter.com/dleve123' do
      image_tag 'icons/twitter.png', alt: 'twitter icon'
    end %>
  </div>

  <section id='description'>
    <p>I love great food, NYC, Baltimore, Ruby, Rails and vim in no particular order.</p>
    <p>I do computers over at <%= link_to 'Healthify', 'http://healthify.us' %>
    and learn about MRI scanners at <%= link_to 'JHU', 'http://bme.jhu.edu' %>.</p>
    <p>Read my <%= link_to 'resume', 'docs/resume_Levenson_fall_2013.pdf' %>.</p>
  </section>
</div>
